<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DATABASE_URL</key>
	<string>https://lavenderapp-a6edb-default-rtdb.europe-west1.firebasedatabase.app/</string>
	<key>API_KEY</key>
	<string>AIzaSyDpOtV45rHIvxxAQb_oqqbc0rxCRprecVg</string>
	<key>GCM_SENDER_ID</key>
	<string>272895018522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bp.polytechnic.Lavender</string>
	<key>PROJECT_ID</key>
	<string>lavenderapp-a6edb</string>
	<key>STORAGE_BUCKET</key>
	<string>lavenderapp-a6edb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:272895018522:ios:fc66e4f7ff0f0368d973a3</string>
</dict>
</plist>
